.signup-container {
  height: 100vh;
  background: linear-gradient(120deg, #f6d365, #fda085);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.signup-box h2 {
  margin-bottom: 10px;
}

.signup-box p {
  color: gray;
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.signup-box button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-box button:hover {
  background: #444;
}

.signin-link {
  margin-top: 15px;
}

.signin-link a {
  color: #ff4d4d;
  text-decoration: none;
  font-weight: bold;
}
