.cart-item-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.item-main-details {
    display: flex;
    gap: 15px;
    flex: 1;
}

.item-img img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 12px;
}

.item-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.2;
}

.item-meta {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.item-actions {
    display: flex;
    align-items: center;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 5px;
}

.qty-btn {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.qty-display {
    padding: 0 8px;
}

.item-price-details {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.current-price {

    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 150px;
    color: black;
}

.p{
    padding-bottom: 4px;
    padding-right: 5px;
}

.original-price del {
    color: #888;
}
.head {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-width: 1px;
}

.place-order-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.order-summary {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.order-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.shipping-info input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.confirm-btn {
  margin-top: 20px;
  width: 100%;
  background: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}